<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button menu="sideMenu" slot="start"></ion-menu-button>

      <ion-searchbar></ion-searchbar>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <ion-button slot="end" (click)="onLogin()">
        <ion-icon name="people"></ion-icon>
      </ion-button>

      <ion-button slot="end">
        <ion-icon name="heart"></ion-icon>
      </ion-button>

      <ion-button slot="end">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

